<mat-card class ="student-card" [class.highlight]="this.student().registrationDate.getFullYear() == 2024">
    <button class="hide-button" (click)="remove.emit(student().id)">Hide</button>
    <mat-card-header>
        <mat-card-subtitle>
            @switch(true) {
                @case(this.student().registrationDate.getFullYear() <= 2022) { Alumni }
                @case(this.student().registrationDate.getFullYear() >= 2023 && this.student().registrationDate.getFullYear() <= 2024) { Student }
                @case(this.student().registrationDate.getFullYear() >= 2025) { New Student }
                @default { Unknown }
            }
        </mat-card-subtitle>
        <mat-card-title>
            {{ this.student().firstname }} {{ this.student().name | uppercase }}
        </mat-card-title>
        <mat-card-subtitle>
            Filière : {{ this.student().program }}{{ this.student().promo }}
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <p>Date d'inscription : {{ this.student().registrationDate | date : 'longDate' }}</p>
        <p>Frais : {{ this.student().registrationPrice | currency : 'EUR' }}</p>
    </mat-card-content>
</mat-card>
