@if (!this.formHidden()) {
  <app-student-form 
    [selected]="this.selectedCard"
    (addStudent)="addStudent($event)"/>
}

<h2> Liste des étudiants ({{ svc.students().length }})</h2>
<button (click)="toggleNewStudentForm()">{{ showNewStudentForm() ? 'Cancel' : 'new Student' }}</button>
<div class="student-list">
  @for (student of this.svc.students(); track student.id) {
    <app-student-card
      [student]="student"
      (remove)="onDelete($event)"
      (click)="changeSelection(student.id!)">
    </app-student-card>
  }
</div>